.notice {
    margin-left: -0.6rem;
    height: 0;
    width: inherit;
    overflow: hidden;
    background: linear-gradient(225deg, red, orange);
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 700;
    animation: slideDown 1s ease-in-out 5s forwards;
    position: fixed;
    top: 30%;
    z-index: 1;

    &__para {
        margin: 0;
    }

    &__link {
        color: #FFFFFF;
    }

    &__close-icon {
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;

        &:hover {
            cursor: pointer;
        }
    }
}

@keyframes slideDown {
    0% { height: 0; }
    100% { 
        height: 6rem; 
        padding: 1rem 0.75rem;
    }
}

.hidden {
    display: none;
}