.home {
    margin: 0 -0.5rem;
    background-color: #f7f7f7;

    &__feature-dropdown {
        padding: 1.5rem;
        display: flex;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
        background-color: #fafafa;
    }

    &__feature-dropdown-heading {
        margin: 0;
    }

    &__feature-running {
        height: 25rem;
        background-image: url('../../assets/lululemon-runclub.png');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    &__feature-running-content {
        position: absolute;
        bottom: 5%;
        width: 100%;
        text-align: center;
    }

    &__feature-running-heading {
        margin: 0 0 1.5rem;
        color: #FFFFFF;
        font-weight: 500;
    }

    &__feature-running-link {
        padding: 1rem;
        background-color: #FFFFFF;
        color: #000000;
        font-weight: 600;
        border: 1px solid #000000;
        border-radius: 4px;
    }

    &__feature-summer {
        padding: 1rem 0.5rem;
    }

    &__feature-summer-heading {
        margin: 0 0 1rem;
        text-align: center;
    }

    &__product-display {
        display: flex;
        gap: 0.5rem;
    }

    &__sidescroller {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        margin: 0.5rem 0 1.5rem;
    }

    &__sidescroller-circle {
        padding: 0.25rem;
        border-radius: 50%;
        background-color: #d3d3d3;

        &:first-child {
            background-color: #000000;
        }
    }

    &__feature-summer-button {
        width: 100%;
        padding: 1rem 0;
        background-color: #FFFFFF;
        font-weight: 600;
        border: 1px solid #000000;
        border-radius: 4px;
        margin-bottom: 1rem;
    }
}