.header {
    padding: 1rem 0.5rem;
    margin: 0 -0.5rem;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__logo-container {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        text-decoration: none;
    }

    &__heading {
        margin: 0;
        padding-top: 0.2rem;
        color: #000000;
    }

    &__nav-options {
        display: flex;
        gap: 1.5rem;
        padding-top: 0.2rem;
    }

    &__search-container {
        position: relative;
    }

    &__search-icon-wrapper {
        position: absolute;
        top: 23%;
        left: 3%;
        display: flex;
        pointer-events: none;
    }

    &__search-icon-text {
        color: grey;
        margin-left: 0.25rem;
    }

    &__search {
        padding: 0.5rem;
        font-family: inherit;
        font-size: 0.9rem;
        width: 100%;
        border-radius: 4px;

        &:focus {
            outline: none;
        }
    }
}

.hidden {
    display: none;
}