* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.mobile-body {
    width: 25rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}